/* Global */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

a {
	color: #007ACC;
	text-decoration: none;
}

/* Header */
header {
	background-color: #007ACC;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.home-btn {
	background-color: #fff;
	color: #007ACC;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.home-btn:hover {
	background-color: #007ACC;
	color: #fff;
	cursor: pointer;
}

/* Main */
main {
	background-color: #F2F2F2;
	padding: 20px;
}

.section-heading {
	margin-top: 0;
	font-size: 28px;
	font-weight: bold;
	color: #333;
}

form {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	color: #555;
}

form input[type="text"],
form textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	resize: none;
}

.create-project-btn {
	background-color: #007ACC;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.create-project-btn:hover {
	background-color: #005f8c;
	cursor: pointer;
}
